<section class="login h-screen  w-full  flex justify-center items-center">

  <p-toast/>
  <div class="card ">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">
      <div class="flex flex-col gap-1">
        <input pInputText type="text" id="username" placeholder="User Name" formControlName="username"
               [invalid]="isInvalid('username')"/>
        @if (isInvalid('username')) {
          <p-message severity="error" size="small" variant="simple">User Name is required.</p-message>
        }
      </div>
      <div class="flex flex-col gap-1">
        <input pInputText type="password" id="password" placeholder="Password" formControlName="password"
               [invalid]="isInvalid('password')"/>
        @if (isInvalid('password')) {
          @if (loginForm.get('password')?.errors?.['required']) {
            <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
          }
          @if (loginForm.get('password')?.errors?.['password']) {
            <p-message severity="error" size="small" variant="simple">Please enter a Password.</p-message>
          }
        }
      </div>
      <button pButton severity="info" type="submit"><span pButtonLabel>Login</span></button>
    </form>
  </div>


</section>
